<li class="list-group-item">
	{{id}}.
	{{burger_name}}

	<button class="devoured" data-id="{{id}}" data-burger_name="{{burger_name}}" data-newDevoured="{{true}}">
		{{#unless devoured}}EAT ME!{{/unless}}
	</button>
</li>
